@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define default (light mode) colors */
:root {
  --foreground: #000;
  --background: #fff;
}

/* When dark mode is active, override the colors */
.dark {
  --foreground: #fff;
  --background: #1F2937; /* Tailwind's gray-800 (adjust as needed) */
}

/* Apply the colors to the body */

body {
  font-family: "Bona Nova SC, serif";
  background-color: var(--background); /* You can set these CSS variables dynamically or use Tailwind classes */
  color: var(--foreground);
}

/* If you prefer to use Tailwind utility classes, you might not need to set these here */
